# SENG 231 term project

Welcome to the **Data science with Python** project! Please, read the instructions below **carefully** before start writing code. 

To actually write down your implementation, make sure to fill in any place that says <code style="color:green">**_# YOUR CODE HERE_**</code>.

Once you are done, save the file as:

<code>**NAME_LASTNAME_2024.ipynb**</code>

For example:

<code>**SARPER_ALKAN_2024.ipynb**</code>

After you complete this notebook, put the dataset and the notebook in a folder and zip the folder. Upload the zipped folder with your student id as the name such as:

<code>**NAME_LASTNAME_2024.zip**</code>

For example:

<code>**SARPER_ALKAN_2024.zip**</code>

Write your first and last name in the next cell, and run that cell first before you do anything else with the document. Also write your project partner's name and surname in the cell.

### Only one of you should upload the document. No multiple uploads!!!

In [49]:
first_name = "Your first name here"
last_name = "Your last name here"
partner_name = "Project partner's name here."
partner_last_name = "Project partner's last name here."


import math
import string
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
# Adding the following line, allows Jupyter Notebook to visualize plots
# produced by matplotlib directly below the code cell which generated those.
%matplotlib inline
import seaborn as sns
from scipy.stats import pearsonr
from nose.tools import assert_equal

# Import stats module from scipy, which contains a large number 
# of probability distributions as well as an exhaustive library of statistical functions.
import scipy.stats as stats
# Import the sub-module 'linear_model' of scikit-learn
# this sub-module implements generalized linear models.
# API: http://scikit-learn.org/stable/modules/classes.html#module-sklearn.linear_model
from sklearn import linear_model
# Import two quality metrics which will be used to assess the quality
# of our predictions: MSE and R squared (a.k.a. coefficient of determination)
from sklearn.metrics import mean_squared_error, r2_score

EPSILON = .0000001 # tiny tolerance for managing subtle differences resulting from floating point operations

DATASET_FILE = "dataset.csv"

In this project, you will be working with the dataset file <code>**dataset.csv**</code>. For a complete description of this data source, please refer to the <code>**README.txt**</code> file included in the archive.
In a nutshell, this dataset contains **721** unique Pokemons, including their number (ID), name, first and second type, and basic stats: HP, Attack, Defense, Special Attack, Special Defense, and Speed. Finally, it also shows whether the Pokemon is "legendary" or not.<br />
The cell below is responsible for correctly loading the dataset from the <code>**dataset.csv**</code> file. Once this is executed, you can start answering the questions below.

In [46]:
# Load the dataset stored at `DATASET_FILE` using "," as field separator and '?' to detect NAs
# and the specified columns as header

# column names used as header
colnames = ['id', 'name', 'type_1', 'type_2', 'total', 'hp', 'attack', 'defense', 
            'special_attack', 'special_defense', 'speed', 'generation', 'is_legendary']

# load dataset
data = pd.read_csv(DATASET_FILE, 
                   sep=',',
                   header=0,
                   names=colnames,
                   na_values='?')

# remove any duplicates
data = data.drop_duplicates('id', keep='first', inplace=False)
data.reset_index(inplace=True, drop=True)
np.random.seed(np.abs(hash(first_name+last_name))// 100000000000)
data.iloc[np.random.choice(721, np.random.randint(1,20), replace=False).tolist(), 6] = np.nan
data.iloc[np.random.choice(721, np.random.randint(1,20), replace=False).tolist(), 2] = np.nan
data.iloc[np.random.choice(721, np.random.randint(1,20), replace=False).tolist(), 8] = np.nan
print("Loaded `Pokemon` dataset into a dataframe of size ({} x {})".format(data.shape[0], data.shape[1]))

data.head()

Loaded `Pokemon` dataset into a dataframe of size (721 x 13)

,id,name,type_1,type_2,total,hp,attack,defense,special_attack,special_defense,speed,generation,is_legendary
0,1,Bulbasaur,Grass,Poison,318,45,49.0,49,65.0,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62.0,63,80.0,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82.0,83,100.0,100,80,1,False
3,4,Charmander,Fire,NaN,309,39,52.0,43,60.0,50,65,1,False
4,5,Charmeleon,Fire,NaN,405,58,64.0,58,80.0,65,80,1,False

## Part 1: Handle the missing values (10 Points)

In the cell below, find the missing values in each column. Then, handle the missing values appropriately. In other words, delete the column if it has too many missing values, or replace the missing values using proper techniques. Then write your comments in the following cell.

In [44]:
# Write your code below this line

### Write your comments below this line: </br>
**Column name**: number of missing values

## Part 2: Analyze the data using box plots (20 Points)

In the cell below, create box plots to analyze your data. Specify the number of outliers at each column in the next cell as your comments.

In [ ]:
# Create your box plots below this line

In [ ]:
# Write the code to find the number of outliers at each column below this line

### Write your comments below this line: </br>
**Column name**: number of outliers

## Part 3: Handle the outliers (20 Points)

In the cell below handle the outliers using the winsorizing (or log scaling if necessary) technique you learned in the class. Then create the box plots to show that there are no more outliers.

In [ ]:
# Write your code below this line

In [ ]:
# Create your box plots below this line

## Part 4: Handle the categorical data (20 Points)

In the cell below handle the categorical data with the techniques you learned in the class. Note that, if a categorical column has too many distinct values you may remove that column altogether.

In [ ]:
# Write your code below this line

## Part 4: Train linear regression model to estimate total (30 Points)

In the cell below, prepare your data in order to train a linear classifier to estimate the column name: **total**. Prepare a dataframe **X** which contains your features and a dataframe **y** that contains your target variable.

In [ ]:
# Write your code below this line

In the cell below, split your data using 80%, 20% train-test split.

In [ ]:
# Write your code below this line

In the cell below, train and test your linear classifier using scikit-learn. Report the mse values for training and testing predictions. Also plot true totals vs. predicted totals for train and test sets.

In [ ]:
# Write your code below this line